.darken-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}

.blur-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    backdrop-filter: blur(10px);
}

.menu-bar__logo {
    width: 8rem;
    margin-bottom: auto;
}

.menu-bar__btn {
    width: 90%;
    padding: 2rem 0;
    font-size: 2rem;
    border: none;
    border-radius: 6px;
    background-color: transparent;
}
.menu-bar__btn:hover {
    box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, .3);
}

.footer__icon {
    width: 2.5rem;
    margin-right: 1rem;
}