.main-logo__logo {
    width: 6rem;
    transform: scale(1.4);
    filter: invert();
}

.menu-bar__logo {
    position: relative;
    width: 8rem;
}

.card__galleryPhoto {
    position: absolute;
    max-width: 25rem;
    border-radius: 6px;
    opacity: .8;
    transition: all .3s ease;
}
.card__galleryPhoto:hover {
    border: 5px solid rgba(253, 226, 231);
    transform: scale(1.2);
    opacity: 1;
    transition: all .3s ease;
    z-index: 100;
}

.card__galleryPhoto--1 {
    top: 140px;
    left: -50px;
    width: 20rem;
    transform: rotate(-5deg);
    z-index: 5;
}
.card__galleryPhoto--2 {
    top: 160px;
    left: 100px;
    z-index: 15;
}
.card__galleryPhoto--3 {
    top: 120px;
    left: 240px;
    transform: rotate(-10deg);
    z-index: 10;
}
.card__galleryPhoto--4 {
    top: 420px;
    left: -20px;
    width: 28rem;
    transform: rotate(10deg);
    z-index: 20;
}
.card__galleryPhoto--5 {
    top: 420px;
    left: 220px;
    transform: rotate(-1deg);
    width: 22rem;
    z-index: 25;
}

.footer__icon {
    width: 2.5rem;
    margin-right: 1rem;
}