body {
    background-image: url(../img/catBackground-large.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    /* This equals the width of the topbar */
    padding-right: 12.5rem;

    font-family: 'Arima Madurai', cursive;
    font-size: 1.5rem;
    color: #f5f5f5;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;

    width: 12.5rem;
    padding: 10rem 0;

    background-color: rgba(253, 226, 231, .5);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    padding: 3rem 0;

    background-color: rgba(0, 0, 0, .3);
}